/*Aquí estamos definiendo todo lo de la barra de navegación*/
.menu-pag{
  width: 100%;
  background-color: black;
  padding:5px 0px;
  position: sticky;
  top: 0;
}

.menu-pag div{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0px 0px;
  justify-content: flex-end;

}

nav div a{
  width: clamp(200px,10%,600px)10%;
  text-align: center;
  font-size: clamp(0.5 , 1.1em, 1.2em);
  font-family: sans-serif;
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 10px 30px;
  margin: 0px 1px;
  border-right: solid;
  border-color: black;
  /*border-radius: 10px;*/
  text-transform: uppercase;
  font-weight: bolder;
}

nav div a:hover{
  background-color: #0FA32B ;
  color: white ;
  text-decoration: underline;
}

.pag{
  background-color: #0FA32B;
  color: white;
}

.pag:hover{
  text-decoration: underline;
}

footer{
  background-color: black;
  margin-top: 4em;
  border-top: solid;
  border-color: #0FA32B;
  border-width: 5px;
}
.pie{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.info-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.info{
  text-align: center;
  margin: 1em 2em 0em 2em;
  color: white;
}

.github{
  margin: 2em 2em 1em 2em;
  display: block;
  width: 5em;
  height: 5em;
  background-size: 5em 5em;
  background-image: url(Img/github-oscuro.png);
  background-position:50% 50%;
  background-repeat:no-repeat;
}

.github:hover{
  background-image: url(Img/github.png);
}
