.main-div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.div-seccion{
  font-size: 1.7em;
  font-family: Valentine;
  font-style: italic;
  font-weight: bolder;
  width: 85%;
  background-color: white;
  border: solid;
  border-color: gray;
  padding: 0.2em;
  margin: 0.5em;
  text-align: center;
}

.seccion{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%;
  z-index: 50;
  padding: 0;
}

.platillo{
  height: 25em;
  width: 30em;
  display: block;
  background-color: white;
  z-index: 100;
  margin:1em 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.foto{
  height: 70%;
  width: 100%;
  border: solid 1px black;
  background-position: 50% 50%;
  background-size: cover;
}

.foto#fili{
  background-image: url("Img/Menu/fili-roll.png");
}
.foto#queso{
  background-image: url("Img/Menu/queso-roll.png");
}
.foto#kioto{
  background-image: url("Img/Menu/kioto-roll.png");
}
.foto#aguacate{
  background-image: url("Img/Menu/aguacate-roll.png");
}

/*Imagenes y Estilos de Ramen*/
.foto#rpollo{
  background-image: url("Img/Menu/Ramen/r_pollo.png");
}
.foto#rlomo{
  background-image: url("Img/Menu/Ramen/r_lomo.png");
}
.foto#rcangrejo{
  background-image: url("Img/Menu/Ramen/r_cangrejo.png");
}
.foto#rarrachera{
  background-image: url("Img/Menu/Ramen/r_arrachera.png");
}

/*Imagenes y Estilos - Bebidas */
.foto#agua{
  background-image: url("Img/Menu/Bebidas/aguamineral.png");
}
.foto#calpi{
  background-image: url("Img/Menu/Bebidas/calpi.png");
}
.foto#limon{
  background-image: url("Img/Menu/Bebidas/limonadas.png");
}
.foto#te{
  background-image: url("Img/Menu/Bebidas/lipton.png");
}
.foto#refresco{
  background-image: url("Img/Bebidas/refresco.png");
}

.foto#mochis{
  background-image: url("Img/Menu/mochicake-matcha.png");
}

.foto#banana{
  background-image: url("Img/Menu/bananafry.png");
}

.foto#tempuraH{
  background-image: url("Img/Menu/tempurahelado.png");
}

.foto#GBMango{
  background-image: url("Img/Menu/guabao-helado.png");
}

.descripcion{
  border: solid 1px black;
  height: 20%;
  width: 100%;
  font-family: Valentine;
  font-style: italic;
  font-weight: bolder;
  padding: 1em;
  font-size: 20px;
}

.nombre{
  font-size: 25px;
  margin-bottom: -10px;
}

.precio{
  float: right;
  font-size: 25px;
}
